html {
    /* Setting a base font size of 10px give us easier rem calculations
         Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 10px;
  }
  
  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: - Georgia, 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    line-height: 1.5;
    text-align: center;
    color: black;
    margin: 0;
  }
  
  h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 400px) {
    h1 {
      font-size: 4rem;
      line-height: 1.5;
    }
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  a {
    color: burlywood;
  }
  
  a:visited {
    color: black;
  }
  
  #main {
    margin: 40px 10px;
    padding: 20px;
    border-radius: 10px;
    background: rgb(146, 238, 146);
  }
  
  @media (max-width: 400px) {
    #main {
      margin: 10;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: blanchedalmond;
    padding: 10px;
    margin: 5;
  }
  
  #img-caption {
    margin: 20px 0 10px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: justify;
    line-height: 1.6;
  }
  
  li {
    margin: 20px 0;
  }
  
  